body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #282c34;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#connectionStatus {
    margin-top: 10px;
    font-size: 1.2em;
}

.disconnected {
    color: red;
}

.connected {
    color: green;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-top: 20px;
}

.data-section, .control-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
}

.data-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    height: 300px;
    overflow-y: auto;
}

.send-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-field {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.send-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-button:hover {
    background-color: #0056b3;
}

.pid-control-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.pid-button {
    padding: 10px;
    font-size: 1em;
    color: #007BFF;
    background-color: #f4f4f4;
    border: 1px solid #007BFF;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
    transition: background-color 0.3s, color 0.3s;
}

.pid-button:hover {
    background-color: #007BFF;
    color: white;
}

.button-selected {
    background-color: #007BFF;
    color: white;
}

.custom-message-input {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.pid-control-response, .custom-message-response {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    height: 100px;
    overflow-y: auto;
}

.response-message {
    padding: 5px;
    margin-top: 5px;
}

.response-message.success {
    color: green;
}

.response-message.error {
    color: red;
}
